{% extends "base.html.twig" %}

{% block stylesheets %}
  {{parent()}}
  <link href="{{asset('css/signin.css')}}" rel="stylesheet">
  <link href="{{asset('css/styles.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}

    {# <section class="contacto">

      {{ form_start(opinionForm, {'attr': {'class': 'contacto-formulario'}}) }}
        <div class="campo-formulario">
          <p class="titulo-medio">Tu opinión importa!</p>

        </div>
        <div class="campo-formulario">
          {{form_label(opinionForm.autor)}}
          {{form_widget(opinionForm.autor)}}
        <div class="form-group">
          {{form_label(opinionForm.comentario)}}
          {{form_widget(opinionForm.comentario, {'attr': {'class': 'form-control', 'rows': '5'}})}}
        </div>
          {{form_label(opinionForm.ciudad)}}
          {{form_widget(opinionForm.ciudad)}}
        </div>
        <div class="campo-formulario ">
          <button>ENVIAR</button>
        </div>
        <div class="campo-formulario text-center">
          {% for message in app.flashes('error') %}
            <h2 class="msgDemo">{{message}}</h2>
          {% endfor %}
        </div>
         
    {{ form_end(opinionForm) }}

    </section> #}

    <div class="d-flex align-items-center min-vh-100 py-3 py-md-0">
      <div class="container">
        <div class="card login-card coment-card">
          <div class="row no-gutters">
            <div class="col-md-12">
              <div class="card-body card-content">
                <div class="brand-wrapper text-center">
                  <img src="assets/img/logo.svg" alt="logo" class="logo" />
                </div>
                <p class="login-card-description text-center">Tu opinión importa!</p>
                {{form_start(opinionForm, {'attr': {'class': 'formulario noappearance coment-form'}}) }}
                  <div class="form-group">
                    {{form_label(opinionForm.autor)}}
                    {{form_widget(opinionForm.autor, {'attr': {'class': 'form-control'}} )}}
                  </div>
                   <div class="form-group mb-4">
                    {{form_label(opinionForm.comentario)}}
                    {{form_widget(opinionForm.comentario, {'attr': {'class': 'form-control', 'rows': '1'}})}}
                  </div>
                   <div class="form-group mb-4">
                    {{form_label(opinionForm.ciudad)}}
                    {{form_widget(opinionForm.ciudad, {'attr': {'class': 'form-control'}})}}
                  </div>

                  <button class="btn btn-warning btn-block btn-acceder-reg" type="submit">Enviar</button>
                {{form_end(opinionForm)}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
