{% extends "base.html.twig" %}

{% block stylesheets %}
  {{parent()}}
  <link href="{{asset('css/carousel.css')}}" rel="stylesheet">
  <link href="{{asset('css/msgs.css')}}" rel="stylesheet">
  {# <link href="{{asset('css/styles.css')}}" rel="stylesheet"> #}
{% endblock %}

{% block body %}

    <section class="jumbotron">
      <article class="stores">
        <p class="store-message">Gana dinero guardando equipaje a viajeros como tú !</p>
        <div class="store-logos">
          <picture><img src="assets/img/app-store.svg" alt="descarga-appStore" class="desc-1"></picture>
          <picture><img src="assets/img/google-play.svg" alt="descarga-googlePlay" class="desc-2"></picture>
        </div>
      </article>
    </section>


    {# <section class="como-funciona">
      <div class="pasos-titulo"><p>¿Cómo funciona?</p></div>
      <article class="pasos">
        <div class="paso">
            <div class="paso-circulo">1</div>
            <div class="paso-titulo">Date de alta</div>
            <div class="paso-texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem excepturi nostrum voluptatibus perferendis cupiditate omnis, tenetur officiis quisquam aliquid ipsum, aliquam vel quia dignissimos. Nobis ab consequatur omnis quis expedita.</div>
          </div>
        <div class="paso">
            <div class="paso-circulo">2</div>
            <div class="paso-titulo">Date de alta</div>
            <div class="paso-texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem excepturi nostrum voluptatibus perferendis cupiditate omnis, tenetur officiis quisquam aliquid ipsum, aliquam vel quia dignissimos. Nobis ab consequatur omnis quis expedita.</div>
          </div>
        <div class="paso">
            <div class="paso-circulo">3</div>
            <div class="paso-titulo">Date de alta</div>
            <div class="paso-texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem excepturi nostrum voluptatibus perferendis cupiditate omnis, tenetur officiis quisquam aliquid ipsum, aliquam vel quia dignissimos. Nobis ab consequatur omnis quis expedita.</div>
          </div>
        </article>
    </section> #}

    <section class="white-section" id="features">
      <div class="container-fluid">
        <div class="row">
          <div class="feature-box col-lg-4">
            {# <i class="icon fas fa-check-circle fa-4x"></i> #}
            {# <i class="icon fas fa-address-card fa-4x"></i> #}
            <img src="{{asset("assets/img/idCard.svg")}}" style="color: yellow;" alt="">
            <h3 class="feature-title">Easy to use.</h3>
            <p>So easy to use, even your dog could do it.</p>
          </div>

          <div class="feature-box col-lg-4">
          {# <i class="fas fa-hand-holding-usd"></i> #}
          <img src="{{asset("assets/img/comment.svg")}}" alt="">
            {# <i class="icon fas fa-bullseye fa-4x"></i> #}
            {# <i class="icon fas fa-comment-dots fa-4x"></i> #}
            {# <i class="icon fas fa-comments-dollar fa-4x"></i> #}
            {# <i class="icon fas fa-luggage-cart fa-4x"></i> #}
            {# <i class="fas fa-hand-holding-heart"></i> #}
            {# <i class="icon fas fa-address-card fa-4x"></i> #}
            <h3 class="feature-title">Elite Clientele</h3>
            <p>We have all the dogs, the greatest dogs.</p>
          </div>

          <div class="feature-box col-lg-4">
            {# <i class="icon fas fa-heart fa-4x"></i> #}
            {# <i class="icon fas fa-business-time fa-4x"></i> #}
            <img src="{{asset("assets/img/mano-dolar.svg")}}" alt="">
            <h3 class="feature-title">Guaranteed to work.</h3>
            <p>Find the love of your dog's life or your money back.</p>
          </div>
        </div>
      </div>
    </section>


    <section >
    <div id="myCarousel" class="carousel slide colored-section" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="carouselCaption text-center">
                <h2 class="opinion-text">
                <span class="comillas">“</span>
                {{opinion1.comentario}}
                <span class="comillas">”</span>
                </h2>
                <img class="opinion-img" src="{{asset("assets/img/dog-img.jpg")}}" alt="someones-profile" />
                <em>{{opinion1.autor}}, {{opinion1.ciudad}}</em>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="carouselCaption text-center">
                <h2 class="opinion-text">
                <span class="comillas">“</span>
                {{opinion2.comentario}}
                <span class="comillas">”</span>
                </h2>
                <img class="opinion-img" src="{{asset("assets/img/dog-img.jpg")}}" alt="someones-profile" />
                <em>{{opinion2.autor}}, {{opinion2.ciudad}}</em>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="carouselCaption text-center">
                <h2 class="opinion-text">
                <span class="comillas">“</span>
                {{opinion3.comentario}}
                <span class="comillas">”</span>
                </h2>
                <img class="opinion-img" src="{{asset("assets/img/dog-img.jpg")}}" alt="someones-profile" />
                <em>{{opinion3.autor}}, {{opinion3.ciudad}}</em>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>

  </section>
  <section class="colored-section" id="prensa">
      <img class="prensa-logo" src="{{asset("assets/img/TechCrunch.png")}}" alt="tc-logo" />
      <img class="prensa-logo" src="{{asset("assets/img/tnw.png")}}" alt="tnw-logo" />
      <img class="prensa-logo" src="{{asset("assets/img/bizinsider.png")}}" alt="biz-insider-logo" />
      <img class="prensa-logo" src="{{asset("assets/img/mashable.png")}}" alt="mashable-logo" />
  </section>

  <section class="contacto ">
  <picture class="contacto-foto col-3">
    <img src="assets/img/iPhoneX@2x.png" class="imagen-lateral">
  </picture>  

  <div class="card " style="width: 30rem; height: 30rem">
    <div class="card-body" id="demo-box">
      <h4 class="card-title text-center">Solicita una demo</h4>

    
      {{form_start(userForm, {'action': path("new-demo"), 'attr': {'class': 'formulario noappearance', 'id': 'form-demo'}}) }}

        <div class="alert  text-center" id="msgDemo" ><i class="fa " id="icono-msg"></i> <span id="panMsg"></span></div>

        <div class="form-group">
          {{form_label(userForm.nombre)}}
          {{form_widget(userForm.nombre, {'attr': {'class': 'form-control'}})}}
        </div>
        <div class="form-group mb-4">
          {{form_label(userForm.email)}}
          {{form_widget(userForm.email, {'attr': {'class': 'form-control'}})}}
        </div>
        <div class="form-group mb-4">
          {{form_label(userForm.ciudad)}}
          {{form_widget(userForm.ciudad, {'attr': {'class': 'form-control'}})}}
        </div>
        <div class="politicaPrivacidad">
            {{form_widget(userForm.politica)}}
          {{form_label(userForm.politica)}} 
          <a href="{{path("politica")}}">política de privacidad</a>
        </div>
        <button class="btn login-btn btn-warning btn-block form-btn btn-acceder-reg" type="submit">Enviar</button>
      {{form_end(userForm)}}

    </div>

  </section>


    
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{asset("js/landingScript.js")}}"></script>
{% endblock %}