{% extends "base.html.twig" %}

{# {% block stylesheets %}
  {{parent()}}
  <link href="{{asset('css/styles.css')}}" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" rel="stylesheet">
{% endblock %} #}

{% block body %}
 
<div class="text-center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Autor</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Comentario</th>
      </tr>
    </thead>
    <tbody>
  {% for opinion in opiniones %}
      <tr>
        <th scope="row">{{opinion.id}}</th>
        <td>{{opinion.autor}}</td>
        <td>{{opinion.ciudad}}</td>
        <td>{{opinion.comentario}}</td>
        <td>  
        <img class="btnEdit" id="{{opinion.id}}" src="{{asset("assets/img/edit.png")}}" alt="boton-editar">
        </td>
        <td>
        <img class="btnBorrar" data-toggle="modal" data-target="#exampleModalCenter" id="{{opinion.id}}" src="{{asset("assets/img/basura.png")}}" alt="boton-borrado">
        </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div> 

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Recordatorio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Una vez borrado el comentario no se podrá volver a recuperar. ¿Desea continuar de todas formas?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCancelar">Cancelar</button>
        <button type="button" data-dismiss="modal" class="btn btn-warning" id="btnAceptar">Aceptar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{asset("js/listaOpScript.js")}}"></script>
{% endblock %}