{% extends "base.html.twig" %}

{% block stylesheets %}
  {{parent()}}
  <link href="{{asset('css/styles.css')}}" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" rel="stylesheet">
{% endblock %}

{% block body %}
 
<div class="text-center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Autor</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Comentario</th>
      </tr>
    </thead>
    <tbody>
  {% for opinion in opiniones %}
      <tr>
        <th scope="row">{{opinion.id}}</th>
        <td>{{opinion.autor}}</td>
        <td>{{opinion.ciudad}}</td>
        <td>{{opinion.comentario}}</td>
        <td>
        <a href="{{path("borrarOpinion", {id: opinion.id})}}" ><i class="fas fa-trash-alt fa-1x" style="color:#f9a519;"></i></a>
        </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div> 
{% endblock %}

{% block javascript %}
  {{parent()}}
  <script src="{{asset("js/listaOpScript.js")}}"></script>
{% endblock %}