{% extends "base.html.twig" %}

{% block header %}
  <header>
    <picture><img class="logo-header" src="assets/img/logo.svg" alt="logo-maleteo"></picture>
  </header>
{% endblock %}


{% block body %}

    <section class="contacto">

      {{ form_start(opinionForm, {'attr': {'class': 'contacto-formulario'}}) }}
        <div class="campo-formulario">
          <p class="titulo-medio">Tu opinión importa!</p>

        </div>
        <div class="campo-formulario">
          {{form_label(opinionForm.autor)}}
          {{form_widget(opinionForm.autor)}}
        <div class="form-group">
          {{form_label(opinionForm.comentario)}}
          {{form_widget(opinionForm.comentario, {'attr': {'class': 'form-control', 'rows': '5'}})}}
        </div>
          {{form_label(opinionForm.ciudad)}}
          {{form_widget(opinionForm.ciudad)}}
        </div>
        <div class="campo-formulario ">
          <button>ENVIAR</button>
        </div>
        <div class="campo-formulario text-center">
          {% for message in app.flashes('error') %}
            <h2 class="msgDemo">{{message}}</h2>
          {% endfor %}
        </div>
         
    {{ form_end(opinionForm) }}

    </section>

    {% endblock %}

{% block footer %}
  <footer>
    <picture><img src="assets/img/logo.svg" alt="logo-maleteo"></picture>
    <p>Hecho con <span class="heart">&hearts;</span> en Madrid</p>
  </footer>
{% endblock %}